 /* Animação do underline a entrar de um lado e a sair para o outro */
@keyframes underline-in { /* Animação de entrada */
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }
  50% {
    transform: scaleX(0);
    transform-origin: right;
  }
  50.01% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes underline-out { /* Animação de saída (unhover) */
  0% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50.01% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}

/* Animação dos elementos ao dar scroll */
.autoShow { 
    animation: text-appear both 1.5s ease; /* Aplica a animação 'text-appear' com duração de 1.5s */
    animation-timeline: view(); /* Animação é ativada com base na posição do elemento no viewport */
    animation-range: entry 20% cover 70vh; /* A animação começa quando 20% do elemento entra na viewport e termina ao cobrir 70vh */
}

/* Keyframes */
@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(150px); /* Começa 150px abaixo da posição original */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Termina na posição original */
    }
} 

.autoShow-featured {
    animation: text-appear both 1.5s ease;
    animation-timeline: view();
    animation-range: entry 50% cover 90vh;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.autoShow-image {
    animation: text-appear both 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 5% cover 70vh;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.autoShow-nextproject {
    animation: text-appear both 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 10% cover 70vh;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.autoShow-footer {
    animation: text-appear both 1.5s ease;
    animation-timeline: view();
    animation-range: entry 1%;
}

@keyframes text-appear {
    from {
        opacity: 1;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

/* texto */
.label{
  transition: transform .35s ease;
}

.label2{
  transition: transform .35s ease;
}

/* seta direita */
.arrow{
    position: relative;
    top: 1px;
  transition: transform .35s ease, opacity .2s ease;
}

.arrow2{
    position: relative;
    top: 2px;
  transition: transform .35s ease, opacity .2s ease;
}

/* seta esquerda falsa */
.talk::before{
  content: "↗";
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateX(-10px);
  transition: transform .35s ease, opacity .2s ease;
}

/* underline */
.talk::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1rem;
  line-height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease;
}

/* hover */
.talk:hover .label{
  transform: translateX(18px);
  transition-delay: .15s;
}

.talk:hover .label2{
  transform: translateX(22px);
  transition-delay: .15s;
}

.talk:hover .arrow{
  opacity: 0;
  transform: translateX(-6px);
  transition-delay: .15s;
}

.talk:hover .arrow2{
  opacity: 0;
  transform: translateX(-6px);
  transition-delay: .15s;
}

.talk:hover::before{
  opacity: 1;
  transform: translateX(0);
  transition-delay: .15s;
}

.talk:hover::after{
  transform: scaleX(1);
  transition-delay: .15s;
}

.talk:not(:hover)::after{
  transform-origin: right;
}

.swap{
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 1.2;
}

/* textos */
.swap .line{
  display: block;
  transition: transform .45s ease;
}

/* texto visível */
.swap .line-top{
  transform: translateY(0);
}

/* texto escondido */
.swap .line-bottom{
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
}

/* hover */
.swap:hover .line-top{
  transform: translateY(-100%);
}

.swap:hover .line-bottom{
  transform: translateY(0);
}