/* Fonts */
@font-face {
    font-family: 'fontmedium';
    src: url("/assets/fonts/PPNeueMontreal-Medium.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontregular';
    src: url("/assets/fonts/PPNeueMontreal-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e border não aumentam o tamanho real dos elementos */
}

body {
    font-family: "fontregular";
    background: #FAFAFA;
    color: #0E0E0E;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#meu_cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}

h1, h2, h3, h4, h5, h6, a, p {
    font-weight: 300;
}

a, button {
  /* Meti !imporant para o cursor default não aparecer em links */
  text-decoration: none;
  color: inherit;
  position: relative; /* Necessário para aparecer o underline em hovers */
}

/* HOME PAGE */
header { /* Header */
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1.72rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* Mantém o header por cima de todos os elementos */
    mix-blend-mode: difference;
}

nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 93%;
}

.nav-right{
  display: flex;
  align-items: center;
  justify-content: space-between; /* UL começa no meio, talk encosta à direita */
}

.nav-links{
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo img {
  height: 28px;
  width: auto;
  display: block;
}

.logo2 img {
  height: 36px;
  width: auto;
  display: block;
}

.logo {
  display: inline-flex;
  align-items: center;
  width: 24px;
  text-decoration: none; /* 👈 remove underline */
}

/* UL começa exatamente no meio do ecrã */
nav ul{
  justify-self: start;     /* começa no início da 2ª coluna (meio do viewport) */
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.talk{
  justify-self: end;
}

nav a {
    position: relative;
    color: white;
}

.nav-links a::after,
.see-more-container a::after,
.social-links a::after,
.intro-description a::after { /* Animação do underline em hover */
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.12rem;
  width: 100%;
  height: 0.1rem;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

nav a:hover::after,
.see-more-container a:hover::after,
.social-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav a.active { /* Na página ativa vai reduzir a opacidade do link */
  opacity: 0.5;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Ocupa a altura total da viewport */
    min-height: 100svh;
    position: relative;
    width: 100%;
    align-items: center;
   /* clip-path: polygon(0 48%, 0 48%, 0 52%, 0 52%); */
    z-index: 2;
}

.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 93%;
}

.hero_container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 93%;
    bottom: 3%;
    position: absolute;
}

.hero_container h4 {
    font-size: 1rem;
}

.role {
  width: 20%;
  justify-content: center;
  font-size: 1rem;
}

.from {
    text-align: right;
}

.myname {
    text-align: center;
    font-size: 8.5rem;
    font-family: "fontmedium";
    position: absolute;
    left: 50;
    top: 50;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 0.95;
}

.explore {
  font-size: 1rem;
}

.explore .arrowdown {
  margin-left: 0.25rem;
}

/* Intro Section */
.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15rem 0 13rem;
}

.container-about {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 50% / 50% */
    width: 93%;
}

.intro-text {
    display: flex;
}

.intro-description {
    width: 100%;
}

.intro-description p {
    font-size: 1.5rem;
    width: 75%;
    padding-bottom: 2rem;
}

.intro-description a {
    font-size: 1.5rem;
    font-family: "fontregular";
    position: relative;
}

.intro-description a::after { /* Default, a linha mantém */
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.12rem;
  width: 100%;
  height: 0.1rem;
  background-color: #171718;
  transform: scaleX(1);
  transform-origin: right;
}

.intro-description a.animate-in::after { /* Quando dou hover */
  animation: underline-in 0.8s forwards;
}

.intro-description a.animate-out::after { /* Quando tiro o hover */
  animation: underline-out 0.8s forwards;
}

/* Featured Works */
.featured {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-header {
    width: 93%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.featured-header h2 {
    font-size: 3.5rem;
    font-family: "fontmedium";
}

.see-more-container {
    align-content: flex-end;
}

.see-more-container a {
    font-size: 1.5rem;
    font-family: "fontregular";
}

.see-more-container a::after { /* Animação hover underline */
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.12rem;
    width: 100%;
    height: 0.1rem;
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.see-more-container a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.projects { /* Grelha de 2 colunas para projetos */
    width: 93%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.img-wrapper, .image-container {
    width: 100%;
  }
  
  .image-container {
    height: 40rem;
    overflow: hidden; /* corta a imagem dentro deste bloco */
    display: flex;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img { /* Hover de zoom na imagem */
    transform: scale(1.02);
  }
  
  .project-info1 {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

    .project-info1 p{
    color: #0E0E0E;
    font-size: 1.12rem;
    font-family: 'fontregular';
    margin: 0.25rem 0;
  }

/* Collaborate Section */
.contact-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.collaborate {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 18rem;
}

.collaborate-container {
    width: 93%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.collaborate-container a {
    font-size: 4rem;
    font-family: "fontregular";
}

.collaborate-container p {
    font-size: 1.12rem;
}

.text-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #0E0E0E;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.footer-container {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* ===== ESQUERDA ===== */
.footer-left {
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-left p {
  font-family: "fontregular";
  font-size: 1rem;
  margin: 0;
}

.footer-left .footer-top {
  font-size: 1.25rem;
  font-weight: 100;
}

.footer-left .footer-rights {
  opacity: 0.5;
}

/* ===== DIREITA ===== */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 7rem;

  /* isto é o que “cola” à margem do container */
  margin-left: auto;

  /* em vez de max-width, deixa o bloco ter a largura necessária */
  width: fit-content;     /* chave */
  align-items: stretch;
}

/* Mesma largura nas duas grids (alinha colunas entre elas) */
.footer-links,
.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  width: 100%;
}

/* gaps verticais diferentes (se quiseres) */
.footer-links { row-gap: 0.6rem; }
.footer-bottom { row-gap: 0.5rem; }

/* Listas */
.social-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

/* Links + underline hover */
.social-links a {
  position: relative;   /* IMPORTANTÍSSIMO para o ::after */
  color: #fafafa;
  font-family: "fontregular";
  font-size: 1rem;
  text-decoration: none;
}

.social-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: .0.1rem;
  width: 100%;
  height: 0.1rem;
  background-color: #fafafa;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.5s ease;
}

.social-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}

.footer-bottom p {
  margin: 0;
  color: #fafafa;
  font-family: "fontregular";
  font-size: 1rem;
}

/* Página WORKS */
.allworks-section { /* Works title */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0 8rem;
}

.allworks-container,
.project-main,
.tablet-container {
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.allworks-container h2 {
    font-family: "fontmedium";
    font-size: 5rem;
}

.projects_section { /* Secção de projectos */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_list{ /* Lista de projetos */
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.projects_list li a{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    text-decoration: none;
    padding: 1.7rem 0;
    position: relative;
    transition: all 0.3s ease;
    border-bottom: solid #c8c7c7;
}

.projects_list h3,
.projects_list p { /* Título e descrição */
  font-size: 1.12rem;
  font-family: "fontregular";
  opacity: 50%;
  transition: all 0.3s ease;
}

.projects_list li a:hover h3,
.projects_list li a:hover p,
.projects_list li a:hover .arrow-icon {
  opacity: 100%;
}

.arrow-icon { /* Ícone à direita */
    opacity: 50%;
}

.projects_list li a:hover { /* Animação hover que faz mexer tudo para a direita */
    border-bottom: solid #0E0E0E;
    translate: 0.25rem 0;
}

.projects_list .img_container{ /* Imagem que aparece no hover */
    position: absolute;
    z-index: 999;
    top: -100%;
    right: 15%;
    transform-origin: center;
    height: 18.25rem;
    width: 31.25rem;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.projects_list li a:hover .img_container{
    opacity: 1;
}

.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_container {
    display: flex;
    width: 100%;
}

.text_container .left, .text_container .right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.text_container .iconright {
    width: 100%;
    display: flex;
    justify-content: flex-end;
} 

.tabletwork { /* Versão em mobile */
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.tablet-container {
    flex-direction: column;
    align-items: flex-end; 
}

.img-tablet {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .img-tablet img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

.img-tablet div {
    margin-top: 0.5rem;
}
  
.tablet-type, .tablet-name { /* Tipos e nomes de projeto */
  font-family: "fontmedium";
  color: #171718;
}

/* PROJECT PAGE */
.hero-projects, .image-placeholder-project {
    width: 100%;
  }
  
  .project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-placeholder-project { /* primeira imagem que ocupa 100% do ecrã */
    height: 100vh;
    overflow: hidden;
  }
  
  .image-placeholder-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

   /* DESCRIPTION */
 .project-hero{
  padding: 4rem 0;
}

.project-container{
  width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-left h1{
  font-size: 3.5rem;
  margin: 0;
}

.project-info{
  display: flex;
  flex-direction: column;
}

.info-row{
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 1.5rem 0;
  border-bottom: 1px solid #c8c7c7;
  justify-items: start;
}

.info-row span{
  margin: 0;
  padding: 0;
  text-indent: 0;
  justify-self: start;
}

.info-row span:first-child{
  font-size: 1.12rem;
  opacity: 50%;
}

/* coluna direita */
.info-row span:last-child{
  font-size: 1.12rem;
  justify-self: end;
}

.project-description{
  margin-top: 5rem;
  font-size: 1.25rem;
  line-height: 1.4;
}

.project-description1 a{
    padding-top: 1rem;
    font-size: 1.25rem;
    position: relative;
}

.project-description1 a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-0.12rem;
  width:100%;
  height:0.1rem;
  background: #171718;
  transform: scaleX(1);
  transform-origin: right;
}

/* quando entras (hover) */
.project-description1 a:hover::after{
  animation: underline-in 0.8s forwards;
}

/* quando sais (unhover) */
.project-description1 a:not(:hover)::after{
  animation: underline-out 0.8s forwards;
}

.project-text {
  width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.project-text1 {
    width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
    margin-bottom: 7rem;
}

.project-wow {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.project-challengetitle {
    font-size: 1.25rem;
    line-height: 1.4;
}

.project-challenge {
    font-size: 1.25rem;
    line-height: 1.4;
}


.video-fullscreen { /* Video */
  width: 100%;
  max-height: 54rem; /* Máxima altura */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: black;
}

.video-fullscreen video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  display: block;
}

  .img-fullscreen2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .img-fullscreen3 {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5rem 0;
  }

    .img-fullscreen3 img {
    width: 70%;
    height: auto;
    object-fit: cover;

  }

.first-image { /* Project Image */
  width: 93%;
  margin: 0 auto; /* centra horizontalmente a secção */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.projectimg-wrapper {
    position: relative;
    width: 100%;
    height: 46rem;
    overflow: hidden;
}

.projectimg-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.nextproject { /* Próximo projeto */
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 3.5rem auto 2rem;
}

.nextworks {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.nextworks p, .nextworks a {
  font-family: "fontregular";
  font-size: 1.5rem;
  position: relative;
}

.nextworks a::after { /* Animação hover underline */
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.15rem;
    width: 100%;
    height: 0.1rem;
    background-color: #171718;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.nextworks a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nextimage {
    position: relative;
    width: 100%;
    height: 52rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.nextimage a {
  display: block;
  position: relative; /* MUITO IMPORTANTE para o posicionamento do texto */
  width: 100%;
  height: 100%;
}
  
.nextimage img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    position: relative;
    transition: transform 0.5s ease;
    filter: brightness(0.6);
}

.nextimage a:hover img { /* Hover de zoom na imagem */
    transform: scale(1.02);
}

.text-wrapper{
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FAFAFA;
  gap: 1.5rem; /* espaço entre linhas */
}

.text-wrapper p{
  margin: 0;
  font-family: "fontregular";
  color: #FAFAFA;
  font-size: 1.25rem;
}

/*animation */
/* h2 */
.text-wrapper .swap-title{
  position: relative;
  display: inline-block;
  width: var(--wmax, max-content);
  line-height: 1.1;
  color: #FAFAFA;
}

/* janela */
.text-wrapper .swap-title .lines{
  position: relative;
  display: inline-block;
  width: var(--wmax, max-content);
  height: 1.2em;
  overflow: hidden;
  padding-bottom: .35rem;
}

/* cada linha ocupa a largura da janela, para permitir centrar */
.text-wrapper .swap-title .line{
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

/* bottom por cima do top */
.text-wrapper .swap-title .line.bottom{
  position: absolute;
  left: 0;
  top: 0;
}

/* o “conteúdo” é o que abraça o texto */
.text-wrapper .swap-title .content{
  display: inline-flex;
  gap: 0;
  white-space: nowrap;
}

/* letras */
.text-wrapper .swap-title .char{
  display: inline-block;
  transition: transform .55s ease;
  will-change: transform;
}

/* estados */
.text-wrapper .swap-title .top .char{ transform: translateY(0); }
.text-wrapper .swap-title .bottom .char{ transform: translateY(150%); }

.text-wrapper .swap-title:hover .top .char{ transform: translateY(-150%); }
.text-wrapper .swap-title:hover .bottom .char{ transform: translateY(0); }

/* underline */
.text-wrapper .swap-title::after{
  content:"";
  position:absolute;
  bottom: 0.5rem;
  height: 2px;
  background: #FAFAFA;

  left: 50%;
  width: var(--u, 0px);
  transform: translateX(-50%);
  transition: width .45s ease;
}

.text-wrapper .swap-title:hover::after{
  width: var(--u-hover, var(--u, 0px));
}

/* ABOUT PAGE */
.hero-about{
  margin-top: 10rem; /* mesma altura do header */
}

.about-container{
  width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 15rem); /* 👈 CRÍTICO */
}

.mainabout {
    width: 93%;
    margin: 0 auto;
    padding-bottom: 8rem;
}

.mainabout p {
    font-size: 3rem;
}

.image-placeholder-about{
  height: 100%;
  overflow: hidden;
}

.image-placeholder-about img{
  width: 75%;
  height: 100%;
  object-fit: cover;
}

.about-data{
  display: flex;
  flex-direction: column;
}

.experience-container h2 {
  font-family: "fontmedium";
  font-weight: 400;
  line-height: 1.1;
}

  .about-data h2 {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
  }

    .about-data h3 {
    font-size: 1.25rem;
    opacity: 50%;
  }

  .about-data p {
    font-family: "fontregular";
    font-size: 1.25rem;
    width: 75%;
    padding-bottom: 2rem;
  }

  .social-links-about { /* Links de redes sociais */
  display: flex;
  list-style: none;
  gap: 2rem;
}

.social-links-about a {
    color: #171718;
    font-family: "fontregular";
    font-size: 1.25rem;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.social-links-about a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-0.1rem;
  width:100%;
  height:0.1rem;
  background: #171718;
  transform: scaleX(1);
  transform-origin: right;
}

/* quando entras (hover) */
.social-links-about a:hover::after{
  animation: underline-in 0.8s forwards;
}

/* quando sais (unhover) */
.social-links-about a:not(:hover)::after{
  animation: underline-out 0.8s forwards;
}

.experience { /* Secção de experiência */
    display: flex;
    flex-direction: column;
    margin: 7rem auto 0;
    width: 93%;
  }

  .experience-container h2 {
    font-size: 3rem;
  }

.work-experience { /* Experiência de trabalho e educação */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3rem;
}

.container-workexperience {
    display: inline;
    width: 93%;
    padding-top: 1.2rem;
}

.work-text {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #c8c7c7;
}

.work-text h3 {
    font-family: "fontregular";
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 1rem;
}

.container-list { /* Lista da experiência e educação */
    list-style: none;
    width: 100%;
    justify-content: right;
    justify-items: right;
}

.work-list{
    list-style: none;
    width: 50%;
}

dl {
    display: flex;
    width: 100%;
    justify-content: space-between;
     border-bottom: 1px solid #c8c7c7;
    padding: 1.5rem 0;
}

dt {
    font-size: 1.12rem;
}

dd {
    width: 40%;
    text-align: end;
}

.li2 dd{
    text-align: left;
    font-size: 1.12rem;
    width: 50%;
}

@media (hover: none), (pointer: coarse) {
  #meu_cursor {
    display: none !important;
  }
}

@media (max-width: 1024px) {
    /* TABLET */
    .logo, nav a, .hero_container h4, .from {
        font-size: 1.2rem;
    }

        .myname {
      font-size: 6rem;
    }

    .role {
      width: 40%;
    }
    
    /* Intro */
    .intro {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .container-about {
        flex-direction: column;
    }

    .intro-description p {
        width: 100%;
    }

    /* Featured Works */
    .featured-header h2 {
        font-size: 3rem;
    }

    .see-more-container a {
        font-size: 1.5rem;
    }

    .projects {
    display: flex;
    flex-direction: column;
    }

    .project-info p {
        font-size: 1.2rem;
    }

    .projects .img-wrapper {
        width: 100%;
    }

    .projects .img-wrapper img {
        height: 40rem;
    }

    /* CTA */
    .collaborate {
    padding: 11rem 0;     /* em vez de padding:18rem no desktop */
    }

    .collaborate-container a {
    font-size: 2.5rem;
    width: auto;         /* não forces 100% */
    padding: 0;          /* remove padding do link */
    }

    /* Footer */

    /* WORKS PAGE */
    .allworks-section {
        padding-top: 12rem;
        padding-bottom: 1.5rem;
    }

    .allworks-container h2 {
        font-size: 3rem;
    }
    
    .projects_section {
        display: none;
    }

    .tabletwork {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tablet-container {
        gap: 2rem;
    }

    .img-tablet {
        gap: 0;
    }

    .tablet-text {
        display: flex;
        justify-content: space-between;
    }

    .img-tablet img {
        height: 35rem;
    }

    .img-tablet h3, .img-tablet p {
        font-size: 1.2rem;
    }

   /* PROJECT PAGE */
        .project-container{
    grid-template-columns: 1fr;  /* tudo para baixo */
    gap: 2rem;
  }

         .project-text{
    grid-template-columns: 1fr;  /* tudo para baixo */
    gap: 2rem;
      margin-top: 2rem;
    margin-bottom: 3rem;
  }

 .project-hero{
  padding-top: 3rem;
  padding-bottom: 5rem;
}

    .project-left h1 {
        font-size: 3rem;
    }

    .project-description {
        font-size: 1.25rem;
    }

    .projectimg-wrapper {
        height: 30rem;
    }

    .nextproject {
         margin-bottom: 1rem;
    }

    .text-wrapper p {
        font-size: 1.5rem;
    }

    /* ABOUT PAGE */

    .about-container{
  height: auto;
}

    .mainabout p {
    font-size: 2rem;
}

    .image-placeholder-about{
    height: 55vh; /* define nova altura */
  }

    .about-data {
        width: 100%;
    }

    .about-data h2 {
        padding-top: 1.5rem;
    }

    .about-data p {
        font-size: 1.2rem;
        width: 100%;
    }

    .social-links-about a{
        font-size: 1.2rem;
    }

      .experience {
        margin-top: 5rem;
      }

      .experience-container h2 {
        font-size: 2.5rem;
      }
      
      .work-experience {
        padding-top: 2rem;
      }

      .work-text h3 {
        font-size: 1.7rem;
      }

      .work-list {
        width: 100%;
      }

      .work-list dt {
        font-size: 1.2rem;
        width: 50%;
      }

      .work-list dd {
        font-size: 1.2rem;
      }
}

@media (max-width: 480px) {
    /* Mobile */
    .logo {
        font-size: 1rem;
    }

    nav a {
        font-size: 1rem;
    }

    /* Hero */
  .hero {
    height: 100svh; /* melhor que 100vh em mobile */
    position: relative;
  }

  .hero_container {
    position: absolute;
    inset: 0;              /* top:0; right:0; bottom:0; left:0 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 38vh 0 38vh;  /* ajusta aqui: mais/menos para cima/baixo */
    width: 100%;
  }

  .hero_container h4 {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 0;     /* MUITO IMPORTANTE: remove o 12rem */
  }

  .myname {
    font-size: 4rem;
  }

    /* Intro */
    .intro {
        padding-top: 4.5rem;
        padding-bottom: 7rem;
    }

    .container-about{
        display: flex;
        flex-direction: column;
    }

    .intro-text h2 {
        font-size: 1.25rem;
        padding-bottom: 2rem;
    }

    .intro-description p, .intro-description a {
        font-size: 1.25rem;
    }

    /* Featured Works */
    .featured-header {
        padding-bottom: 1.5rem;
    }

    .featured-header h2 {
        font-size: 1.5rem;
    }

    .see-more-container a {
        font-size: 1rem;
    }

    .projects {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    }

    .image-container {
        height: auto;
    }
    
    .projects .img-wrapper {
        width: 100%;
        height: auto;
    }

    .projects .img-wrapper img {
        width: 100%;
        height: 23rem;
    }

    .project-info {
    display: flex;
    }

    .project-info p {
        font-size: 1rem;
    }

    /* CTA */
    .collaborate {
    padding: 10rem 0;     /* em vez de padding:18rem no desktop */
    }

    .collaborate-container a {
    font-size: 2rem;
    width: auto;         /* não forces 100% */
    padding: 0;          /* remove padding do link */
    }

      .text-wrapper1 {
  gap: 0.75rem;
}

      .collaborate-container p {
    font-size: 0.87rem;
}

    /* Footer */
   .footer-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7rem;
    }

.footer-right {
    margin-left: 0;      /* remove empurrão para direita */
    width: 100%;         /* ocupa largura normal */
    gap: 4rem;           /* opcional: menos espaço */
  }

    .footer-links {
        column-gap: 1rem;
    }

.footer-left .footer-top {
  font-size: 1.5rem;
}

    .footer-rights {
        padding-top: 0.5rem;
        font-size: 1rem;
    }

    .social-links {
        flex-direction: column;
        gap: 0.5rem;
        align-items: start;
    }

    .social-links a {
        font-size: 1.12rem;
    }

    .footer-bottom {
        column-gap: 1rem;
    }

    .footer-bottom p {
  font-size: 1.12rem;
}

      /* WORKS PAGE */
    .allworks-container h2 {
    font-size: 1.5rem;
    }

    .allworks-section {
        padding-top: 10rem;
        padding-bottom: 1rem;
    }

    .tabletwork {
        display: flex;
    }

    .tablet-container {
        gap: 2rem;
    }

    .img-tablet {
        width: 100%;
    }

    .img-tablet img {
        height: 23rem;
    }

    .img-tablet h3, .img-tablet p {
        font-size: 1rem;
    }

    /* PROJECT PAGE */
    .project-container{
    grid-template-columns: 1fr;  /* tudo para baixo */
    gap: 2rem;
  }
    .image-placeholder-project {
        height: 100vh;
    }

    .project-left h1 {
        font-size: 2rem;
    }

      .info-row{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .project-info{
    padding: 0;
    margin: 0;
}

    .info-row span:first-child{
  opacity: 50%;
}

.project-description {
    font-size: 1.12rem;
}

.project-description1 a {
    font-size: 1.12rem;
}

.project-challengetitle {
    font-size: 1.12rem;
    line-height: 1.4;
}

.project-challenge {
    font-size: 1.12rem;
    line-height: 1.4;
}

.project-wow {
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

/* coluna direita */
.info-row span:last-child{
  font-size: 1.12rem;
  text-align: left;
}

    .img-fullscreen3 {
        padding: 2rem 0;
    }

    .img-fullscreen2 img {
        width: 100%;
        height: auto;
    }

    .nextproject {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }

    .nextworks {
        gap: 1rem;
    }

    .container p, .container a {
        font-size: 1rem;
    }

    .text-wrapper p {
        font-size: 1rem;
    }

    .nextimage {
    height: 25rem;
    }

.text-wrapper .swap-title{
  position: relative;
  display: inline-block;
  width: var(--wmax, max-content); 
  max-width: 100%;
  line-height: 1.1;
  letter-spacing: 0;
  color: #FAFAFA;
  font-size: 1.5rem;
}

    /* ABOUT PAGE */

    .hero-about{
  margin-top: 8rem; /* mesma altura do header */
}

    .about-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mainabout {
    padding-bottom: 4rem;
}

    .mainabout p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.image-placeholder-about img{
  width: 100%;
}

    .about-data {
        width: 100%;
    }

    .about-data p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .social-links-about a {
        font-size: 1rem;
    }

    .image-placeholder-about {
        top: 0rem;
        right: 0rem;
        position: relative;
        width: 100%;
        border-radius: 0;
        height: 60vh;
        overflow: hidden;
    }

    .work-experience{
    padding-top: 5rem; /* mais “para baixo” se quiseres */
  }

  .work-list{
    width: 100%;
  }

  dl{
    flex-direction: column;      /* dt em cima, dd em baixo */
    align-items: flex-start;
    gap: .75rem;
  }

  dd{
    width: 100%;
    text-align: left;
  }

  .li2 dd{
    width: 100%;
    text-align: left;
  }

    .experience {
        margin-top: 5rem;
    }

    .experience-container h2 {
        font-size: 1.5rem;
      }
      
      .work-text h3 {
        font-size: 1.12rem;
      }

      .container-list {
        justify-content: left;
        justify-items: left;
        width: 100%;
      }

      .work-list dt {
        font-size: 1rem;
        width: 100%;
      }

    .work-list dd {
        font-size: 1rem;
      }
}